<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Eto.Forms" version="2.2.0" targetFramework="net45" />
  <package id="Eto.Serialization.Json" version="2.2.0" targetFramework="net45" />
  <package id="JSON" version="1.0.1" targetFramework="net45" />
  <package id="json-serialize" version="1.1.2" targetFramework="net45" />
  <package id="NEventStore" version="4.0.0.15" targetFramework="net45" />
  <package id="NEventStore.Serialization.Json" version="4.1.0.10" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="ScriptCs.Json" version="0.1.0" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net45" />
</packages>